
.icon-duckduckgo:before { content: '\e800'; } /* '' */
.icon-wikipedia:before { content: '\e801'; } /* '' */
.icon-pinterest:before { content: '\e802'; } /* '' */
.icon-bitcoin:before { content: '\e803'; } /* '' */
.icon-reddit:before { content: '\e804'; } /* '' */
.icon-cc:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-youtube:before { content: '\e807'; } /* '' */
.icon-vimeo:before { content: '\e808'; } /* '' */
.icon-github-circled:before { content: '\e809'; } /* '' */
.icon-wordpress:before { content: '\e80a'; } /* '' */
.icon-twitter:before { content: '\e80b'; } /* '' */
.icon-google:before { content: '\e80c'; } /* '' */
.icon-instagram:before { content: '\e80d'; } /* '' */
.icon-cc-nd:before { content: '\e80e'; } /* '' */
.icon-whatsapp:before { content: '\e80f'; } /* '' */
.icon-linux:before { content: '\e810'; } /* '' */
.icon-firefox:before { content: '\e811'; } /* '' */
.icon-chrome:before { content: '\e813'; } /* '' */