
.icon-chart-line-1:before { content: '\e80e'; } /* '' */
.icon-thumbs-up:before { content: '\e811'; } /* '' */
.icon-thumbs-down:before { content: '\e812'; } /* '' */
.icon-download-cloud:before { content: '\e813'; } /* '' */
.icon-upload-cloud:before { content: '\e814'; } /* '' */
.icon-home:before { content: '\e815'; } /* '' */
.icon-videocam:before { content: '\e816'; } /* '' */
.icon-camera:before { content: '\e817'; } /* '' */
.icon-picture:before { content: '\e818'; } /* '' */
.icon-video:before { content: '\e819'; } /* '' */
.icon-male:before { content: '\e81a'; } /* '' */
.icon-heart-empty:before { content: '\e81b'; } /* '' */
.icon-heart:before { content: '\e81c'; } /* '' */
.icon-mail-alt:before { content: '\e81d'; } /* '' */
.icon-mail:before { content: '\e81e'; } /* '' */
.icon-music:before { content: '\e81f'; } /* '' */
.icon-link:before { content: '\e820'; } /* '' */
.icon-chat:before { content: '\e821'; } /* '' */
.icon-bell:before { content: '\e822'; } /* '' */
.icon-direction:before { content: '\e823'; } /* '' */
.icon-phone:before { content: '\e824'; } /* '' */
.icon-signal:before { content: '\e825'; } /* '' */
.icon-wifi:before { content: '\e826'; } /* '' */
.icon-desktop:before { content: '\e827'; } /* '' */
.icon-globe:before { content: '\e828'; } /* '' */
.icon-paper-plane:before { content: '\e829'; } /* '' */
.icon-align-left:before { content: '\e82a'; } /* '' */
.icon-chart-line:before { content: '\e82b'; } /* '' */
.icon-chart-bar:before { content: '\e82c'; } /* '' */
.icon-chart-area:before { content: '\e82d'; } /* '' */
.icon-chart-pie:before { content: '\e82e'; } /* '' */
.icon-fork:before { content: '\e82f'; } /* '' */
.icon-megaphone:before { content: '\e830'; } /* '' */
.icon-rocket:before { content: '\e831'; } /* '' */
.icon-bitcoin-1:before { content: '\e832'; } /* '' */
.icon-dollar:before { content: '\e833'; } /* '' */
.icon-sitemap:before { content: '\e834'; } /* '' */
.icon-bank:before { content: '\e835'; } /* '' */
.icon-recycle:before { content: '\e836'; } /* '' */
.icon-cc-paypal:before { content: '\e837'; } /* '' */